html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

:root {
  /** Slate Colors */
  --slate-900: #1f314f;
  --slate-500: #687781;
  --slate-300: #d5e1ef;
  /* White */
  --white: #ffffff;

  /** Spacing (40px=2.5rem, 24px=1.5rem, 16px=1rem 등) */
  --spacing-500: 2.5rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;

  font-size: 16px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--slate-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: var(--spacing-200);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card {
  max-width: 20rem;
  background-color: var(--white);
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: var(--spacing-200);
}
.qr-code {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: var(--spacing-200);
}
.text-conainer {
  padding: 0 var(--spacing-200);
  margin: 0 0 var(--spacing-300) 0;
}
h2 {
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--slate-900);
  margin-bottom: var(--spacing-200);
  line-height: 1.2;
}

p {
  font-size: 0.938rem;
  font-weight: 400;
  color: var(--slate-500);
  line-height: 1.4;
  letter-spacing: 0.2px;
}
